@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 210 40% 98%;
        --foreground: 222.2 84% 4.9%;
        --card: 0 0% 100%;
        --card-foreground: 222.2 84% 4.9%;
        --popover: 0 0% 100%;
        --popover-foreground: 222.2 84% 4.9%;
        --primary: 211 100% 42.9%;
        --primary-foreground: 210 40% 98%;
        --secondary: 210 40% 96.1%;
        --secondary-foreground: 222.2 47.4% 11.2%;
        --muted: 210 40% 96.1%;
        --muted-foreground: 215.4 16.3% 46.9%;
        --accent: 210 40% 96.1%;
        --accent-foreground: 222.2 47.4% 11.2%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 210 40% 98%;
        --border: 214.3 31.8% 91.4%;
        --input: 214.3 31.8% 91.4%;
        --ring: 211 100% 58%;
        --radius: 1.25rem;
        --z-header: 30;
        --z-sidebar: 40;
        --z-dropdown: 50;
        --z-modal: 100;
    }

    .dark {
        --background: 220, 43%, 11%;
        --foreground: 210 40% 96%;
        --ring: 211 100% 58%;
        --card: 222.2 84% 4.9%;
        --card-foreground: 210 40% 98%;
    }

    *,
    ::before,
    ::after {
        box-sizing: border-box;
        border-width: 0;
        border-style: solid;
        border-color: #e7ecf0;
    }

    html {
        font-size: 16px;
    }

    body {
        color: hsl(var(--foreground));
        background-color: hsl(var(--background));
        line-height: inherit;
        margin: 0;
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        transition: background-color 5000s ease-in-out 0s;
        -webkit-text-fill-color: hsl(var(--foreground));
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-size: inherit;
        font-weight: inherit;
    }

    a {
        text-decoration: inherit;
    }

    input::placeholder,
    textarea::placeholder {
        opacity: 1;
        color: #707a82;
    }
}

@layer components {
    /* Theme toggle icon transitions */
    .theme-toggle-icon {
        @apply transition-all duration-300 absolute;
    }

    .dark .theme-toggle-icon {
        @apply transition-all duration-300;
    }

    /* Light mode - show moon, hide sun */
    body:not(.dark) .moon-icon {
        @apply opacity-100 transform-none;
    }

    body:not(.dark) .sun-icon {
        @apply opacity-0 rotate-90;
    }

    /* Dark mode - show sun, hide moon */
    .dark .moon-icon {
        @apply opacity-0 -rotate-90;
    }

    .dark .sun-icon {
        @apply opacity-100 transform-none;
    }

    .open.hs-overlay-open\:translate-x-0 {
        --tw-translate-x: 0px;
        transform: translate(var(--tw-translate-x), var(--tw-translate-y))
            rotate(var(--tw-rotate)) skewX(var(--tw-skew-x))
            skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x))
            scaleY(var(--tw-scale-y));
        -webkit-transform: translate(
                var(--tw-translate-x),
                var(--tw-translate-y)
            )
            rotate(var(--tw-rotate)) skewX(var(--tw-skew-x))
            skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x))
            scaleY(var(--tw-scale-y));
        -moz-transform: translate(var(--tw-translate-x), var(--tw-translate-y))
            rotate(var(--tw-rotate)) skewX(var(--tw-skew-x))
            skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x))
            scaleY(var(--tw-scale-y));
        -ms-transform: translate(var(--tw-translate-x), var(--tw-translate-y))
            rotate(var(--tw-rotate)) skewX(var(--tw-skew-x))
            skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x))
            scaleY(var(--tw-scale-y));
        -o-transform: translate(var(--tw-translate-x), var(--tw-translate-y))
            rotate(var(--tw-rotate)) skewX(var(--tw-skew-x))
            skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x))
            scaleY(var(--tw-scale-y));
        transition: transform 0.2s ease-out;
    }

    .open .hs-overlay-open\:translate-x-0 {
        --tw-translate-x: 0px;
        transform: translate(var(--tw-translate-x), var(--tw-translate-y))
            rotate(var(--tw-rotate)) skewX(var(--tw-skew-x))
            skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x))
            scaleY(var(--tw-scale-y));
        -webkit-transform: translate(
                var(--tw-translate-x),
                var(--tw-translate-y)
            )
            rotate(var(--tw-rotate)) skewX(var(--tw-skew-x))
            skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x))
            scaleY(var(--tw-scale-y));
        -moz-transform: translate(var(--tw-translate-x), var(--tw-translate-y))
            rotate(var(--tw-rotate)) skewX(var(--tw-skew-x))
            skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x))
            scaleY(var(--tw-scale-y));
        -ms-transform: translate(var(--tw-translate-x), var(--tw-translate-y))
            rotate(var(--tw-rotate)) skewX(var(--tw-skew-x))
            skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x))
            scaleY(var(--tw-scale-y));
        -o-transform: translate(var(--tw-translate-x), var(--tw-translate-y))
            rotate(var(--tw-rotate)) skewX(var(--tw-skew-x))
            skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x))
            scaleY(var(--tw-scale-y));
        transition: transform 0.2s ease-out;
    }

    .hs-overlay-backdrop {
        left: 0;
        top: 0;
        background: rgba(0, 0, 0, 0.5);
        position: fixed;
        height: 100%;
        width: 100%;
        z-index: 50;
        transition: opacity 0.2s ease-out;
    }

    .hs-dropdown-menu {
        --tw-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
        --tw-shadow-colored: 0 0.5rem 1rem var(--tw-shadow-color);
        box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
            var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
        opacity: 0;
        transform: translateY(-10px);
        transition: opacity 0.25s ease-out, transform 0.25s ease-out;
        -webkit-transform: translateY(-10px);
        -moz-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        -o-transform: translateY(-10px);
        -webkit-transition: opacity 0.25s ease-out, transform 0.25s ease-out;
        -moz-transition: opacity 0.25s ease-out, transform 0.25s ease-out;
        -ms-transition: opacity 0.25s ease-out, transform 0.25s ease-out;
        -o-transition: opacity 0.25s ease-out, transform 0.25s ease-out;
    }

    .hs-dropdown.open > .hs-dropdown-open\:opacity-100 {
        opacity: 1;
        transform: translateY(0);
        transition-delay: 0s;
    }

    .hs-dropdown.open > .hs-dropdown-menu > .hs-dropdown-open\:opacity-100 {
        opacity: 1;
        transform: translateY(0);
        transition-delay: 2s;
    }
    .sidebar-scroll {
        height: calc(100% - 50px);
    }

    .sidebar-item .sidebar-link::before {
        @apply absolute top-0 bottom-0 left-[-16px] content-[""] w-0 h-full z-[-1] rounded-r-[24px] transition-all duration-300 ease-in-out;
    }

    .sidebar-item .sidebar-link::before {
        @apply bg-blue-50;
    }

    .sidebar-item .sidebar-link:hover::before {
        width: calc(100% + 16px);
    }

    .sidebar-item .sidebar-link.active::before {
        width: calc(100% + 16px);
    }

    .sidebar-item .sidebar-link.active {
        @apply text-blue-700;
    }

    .sidebar-item .sidebar-link:hover {
        @apply text-blue-700;
    }

    .dark .simplebar-scrollbar:before {
        @apply bg-white;
    }

    .left-sidebar .scroll-sidebar {
        height: calc(100vh - 180px);
    }

    .dark .text-gray-500,
    .dark .text-gray-700 {
        color: #cbd5e1;
    }
    
    .left-sidebar {
        @apply z-[var(--z-sidebar)];
    }

    .top-header {
        @apply z-[var(--z-header)];
    }

    .dropdown-wrapper {
        @apply z-[var(--z-dropdown)];
    }

    .modal-wrapper {
        @apply z-[var(--z-modal)];
    }
}

@layer utilities {
    .scrollbar-custom {
        @apply [&::-webkit-scrollbar]:w-2
               [&::-webkit-scrollbar]:h-2 /* Thêm chiều cao cho scrollbar ngang */
               [&::-webkit-scrollbar-track]:rounded-full 
               [&::-webkit-scrollbar-track]:bg-gray-100 
               dark:[&::-webkit-scrollbar-track]:bg-gray-800
               [&::-webkit-scrollbar-thumb]:rounded-full 
               [&::-webkit-scrollbar-thumb]:bg-gray-300
               dark:[&::-webkit-scrollbar-thumb]:bg-gray-600;
    }
    .uiverse {
        --duration: 7s;
        --easing: linear;
        --c-color-1: rgba(255, 163, 26, 0.7);
        --c-color-2: #1a23ff;
        --c-color-3: #e21bda;
        --c-color-4: rgba(255, 232, 26, 0.7);
        --c-shadow: rgba(255, 223, 87, 0.5);
        --c-shadow-inset-top: rgba(255, 223, 52, 0.9);
        --c-shadow-inset-bottom: rgba(255, 250, 215, 0.8);
        --c-radial-inner: #ffd215;
        --c-radial-outer: #fff172;
        --c-color: #fff;
        -webkit-tap-highlight-color: transparent;
        -webkit-appearance: none;
        outline: none;
        position: relative;
        cursor: pointer;
        border: none;
        display: table;
        border-radius: 24px;
        padding: 0;
        margin: 0;
        text-align: center;
        font-weight: 600;
        font-size: 16px;
        letter-spacing: 0.02em;
        line-height: 1.5;
        color: var(--c-color);
        background: radial-gradient(
            circle,
            var(--c-radial-inner),
            var(--c-radial-outer) 80%
        );
        box-shadow: 0 0 14px var(--c-shadow);
    }

    .uiverse:before {
        content: "";
        pointer-events: none;
        position: absolute;
        z-index: 3;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        border-radius: 24px;
        box-shadow: inset 0 3px 12px var(--c-shadow-inset-top),
            inset 0 -3px 4px var(--c-shadow-inset-bottom);
    }

    .uiverse .wrapper {
        -webkit-mask-image: -webkit-radial-gradient(white, black);
        overflow: hidden;
        border-radius: 24px;
        min-width: 132px;
        padding: 12px 0;
    }

    .uiverse .wrapper span {
        display: inline-block;
        position: relative;
        z-index: 1;
    }

    .uiverse:hover {
        --duration: 1400ms;
    }

    .uiverse .wrapper .circle {
        position: absolute;
        left: 0;
        top: 0;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        filter: blur(var(--blur, 8px));
        background: var(--background, transparent);
        transform: translate(var(--x, 0), var(--y, 0)) translateZ(0);
        animation: var(--animation, none) var(--duration) var(--easing) infinite;
    }

    .uiverse .wrapper .circle.circle-1,
    .uiverse .wrapper .circle.circle-9,
    .uiverse .wrapper .circle.circle-10 {
        --background: var(--c-color-4);
    }

    .uiverse .wrapper .circle.circle-3,
    .uiverse .wrapper .circle.circle-4 {
        --background: var(--c-color-2);
        --blur: 14px;
    }

    .uiverse .wrapper .circle.circle-5,
    .uiverse .wrapper .circle.circle-6 {
        --background: var(--c-color-3);
        --blur: 16px;
    }

    .uiverse .wrapper .circle.circle-2,
    .uiverse .wrapper .circle.circle-7,
    .uiverse .wrapper .circle.circle-8,
    .uiverse .wrapper .circle.circle-11,
    .uiverse .wrapper .circle.circle-12 {
        --background: var(--c-color-1);
        --blur: 12px;
    }

    .uiverse .wrapper .circle.circle-1 {
        --x: 0;
        --y: -40px;
        --animation: circle-1;
    }

    .uiverse .wrapper .circle.circle-2 {
        --x: 92px;
        --y: 8px;
        --animation: circle-2;
    }

    .uiverse .wrapper .circle.circle-3 {
        --x: -12px;
        --y: -12px;
        --animation: circle-3;
    }

    .uiverse .wrapper .circle.circle-4 {
        --x: 80px;
        --y: -12px;
        --animation: circle-4;
    }

    .uiverse .wrapper .circle.circle-5 {
        --x: 12px;
        --y: -4px;
        --animation: circle-5;
    }

    .uiverse .wrapper .circle.circle-6 {
        --x: 56px;
        --y: 16px;
        --animation: circle-6;
    }

    .uiverse .wrapper .circle.circle-7 {
        --x: 8px;
        --y: 28px;
        --animation: circle-7;
    }

    .uiverse .wrapper .circle.circle-8 {
        --x: 28px;
        --y: -4px;
        --animation: circle-8;
    }

    .uiverse .wrapper .circle.circle-9 {
        --x: 20px;
        --y: -12px;
        --animation: circle-9;
    }

    .uiverse .wrapper .circle.circle-10 {
        --x: 64px;
        --y: 16px;
        --animation: circle-10;
    }

    .uiverse .wrapper .circle.circle-11 {
        --x: 4px;
        --y: 4px;
        --animation: circle-11;
    }

    .uiverse .wrapper .circle.circle-12 {
        --blur: 14px;
        --x: 52px;
        --y: 4px;
        --animation: circle-12;
    }
}

@keyframes circle-1 {
    33% {
        transform: translate(0px, 16px) translateZ(0);
    }

    66% {
        transform: translate(12px, 64px) translateZ(0);
    }
}

@keyframes circle-2 {
    33% {
        transform: translate(80px, -10px) translateZ(0);
    }

    66% {
        transform: translate(72px, -48px) translateZ(0);
    }
}

@keyframes circle-3 {
    33% {
        transform: translate(20px, 12px) translateZ(0);
    }

    66% {
        transform: translate(12px, 4px) translateZ(0);
    }
}

@keyframes circle-4 {
    33% {
        transform: translate(76px, -12px) translateZ(0);
    }

    66% {
        transform: translate(112px, -8px) translateZ(0);
    }
}

@keyframes circle-5 {
    33% {
        transform: translate(84px, 28px) translateZ(0);
    }

    66% {
        transform: translate(40px, -32px) translateZ(0);
    }
}

@keyframes circle-6 {
    33% {
        transform: translate(28px, -16px) translateZ(0);
    }

    66% {
        transform: translate(76px, -56px) translateZ(0);
    }
}

@keyframes circle-7 {
    33% {
        transform: translate(8px, 28px) translateZ(0);
    }

    66% {
        transform: translate(20px, -60px) translateZ(0);
    }
}

@keyframes circle-8 {
    33% {
        transform: translate(32px, -4px) translateZ(0);
    }

    66% {
        transform: translate(56px, -20px) translateZ(0);
    }
}

@keyframes circle-9 {
    33% {
        transform: translate(20px, -12px) translateZ(0);
    }

    66% {
        transform: translate(80px, -8px) translateZ(0);
    }
}

@keyframes circle-10 {
    33% {
        transform: translate(68px, 20px) translateZ(0);
    }

    66% {
        transform: translate(100px, 28px) translateZ(0);
    }
}

@keyframes circle-11 {
    33% {
        transform: translate(4px, 4px) translateZ(0);
    }

    66% {
        transform: translate(68px, 20px) translateZ(0);
    }
}

@keyframes circle-12 {
    33% {
        transform: translate(56px, 0px) translateZ(0);
    }

    66% {
        transform: translate(60px, -32px) translateZ(0);
    }
}
